<div class="relative mb-[70px]">
  <header class="fixed top-0 left-1/2 -translate-x-1/2 w-[375px] flex justify-between p-[8px]">
    <button type="button" class="activeBtn relative jBack">
      <%- require('component/img.ejs')({
        style: {
          main: 'w-[40px] h-[40px]'
        },
        path: require('imgs/product/icon_back.png'),
        alt: 'back'
      }) %>
    </button>
    <div class="flex">
      <button type="button">
        <%- require('component/img.ejs')({
          style: {
            main: 'w-[40px] h-[40px]'
          },
          path: require('imgs/product/icon_share.png'),
          alt: 'share'
        }) %>
      </button>
      <a href="shoppingCart.html" class="activeBtn relative">
        <%- require('component/img.ejs')({
          style: {
            main: 'w-[40px] h-[40px]'
          },
          path: require('imgs/product/icon_cart.png'),
          alt: 'cart'
        }) %>
      </a>
      <button type="button">
        <%- require('component/img.ejs')({
          style: {
            main: 'w-[40px] h-[40px]'
          },
          path: require('imgs/product/icon_more.png'),
          alt: 'more'
        }) %>
      </button>
    </div>
  </header>
  <%- require('component/img.ejs')({
    style: {
      main: 'w-[375px]'
    },
    path: img,
    alt: alt
  }) %>
</div>
<footer class="m-product-ft w-[375px] fixed bottom-[70px] m:left-0 pt:left-1/2 pt:-translate-x-1/2 bg-white">
  <ul class="flex h-[56px]">
    <li class="w-1/5">
      <button class="activeBtn relative jAddWish flex flex-col justify-center items-center w-full h-full text-[12px] text-[#898989]" type="button">
        <%- require('component/img.ejs')({
          style: {
            main: 'relative iconWish w-[22px] h-[19px] mt-[6px] mb-[4px] --outlined'
          },
          path: require('imgs/product/icon_heart2.png'),
          alt: 'add to wish list'
        }) %>
        <%- require('component/img.ejs')({
          style: {
            main: 'relative hidden iconWish w-[22px] h-[19px] mt-[6px] mb-[4px] --filled'
          },
          path: require('imgs/product/icon_heart2_filled.png'),
          alt: 'add to wish list'
        }) %>
        加入心願單
      </button>
    </li>
    <li class="flex-grow">
      <button class="activeBtn relative jAddCart flex flex-col justify-center items-center w-full h-full text-[15px] text-white bg-[#d41c1c] tracking-[5px]" type="button">
        加入購物車
      </button>
    </li>
  </ul>
</footer>
<div class="popup jpopup fixed mt-[-120px] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[180px] h-[54px] flex justify-center items-center rounded-[8px] bg-white border border-[#b9b9b9]">
  <%- require('component/img.ejs')({
    style: {
      main: 'w-[26px] h-[23px] mr-[12px]'
    },
    path: require('imgs/product/icon_cart_black.png'),
    alt: 'add to cart success'
  }) %>
  <p class="text-[15px] text-[#262626] tracking-[5px] font-bold leading-[1]">已選購</p>
</div>