<div class="relative mb-[70px]">
  <header class="fixed top-0 left-1/2 -translate-x-1/2 w-[375px] flex justify-between p-[8px]">
    <button type="button" class="activeBtn relative jBack">
      <%- require('component/img.ejs')({
        style: {
          main: 'w-[40px] h-[40px]'
        },
        path: require('imgs/product/icon_back.png'),
        alt: 'back'
      }) %>
    </button>
    <div class="flex">
      <button type="button">
        <%- require('component/img.ejs')({
          style: {
            main: 'w-[40px] h-[40px]'
          },
          path: require('imgs/product/icon_share.png'),
          alt: 'share'
        }) %>
      </button>
      <a href="shoppingCart.html" class="activeBtn relative">
        <%- require('component/img.ejs')({
          style: {
            main: 'w-[40px] h-[40px]'
          },
          path: require('imgs/product/icon_cart.png'),
          alt: 'cart'
        }) %>
      </a>
      <button type="button">
        <%- require('component/img.ejs')({
          style: {
            main: 'w-[40px] h-[40px]'
          },
          path: require('imgs/product/icon_more.png'),
          alt: 'more'
        }) %>
      </button>
    </div>
  </header>
  <%- require('component/img.ejs')({
    style: {
      main: 'w-[375px]'
    },
    path: img,
    alt: alt
  }) %>
</div>
<footer class="m-product-ft w-[375px] fixed bottom-[70px] m:left-0 pt:left-1/2 pt:-translate-x-1/2 bg-white">
  <ul class="flex h-[56px]">
    <li class="w-1/5">
      <button class="activeBtn relative jAddWish flex flex-col justify-center items-center w-full h-full text-[12px] text-[#898989]" type="button">
        <%- require('component/img.ejs')({
          style: {
            main: 'relative iconWish w-[22px] h-[20px] mt-[10px] mb-[4px] --outlined'
          },
          path: require('imgs/common/icon_heart.png'),
          alt: 'add to wish list'
        }) %>
        <%- require('component/img.ejs')({
          style: {
            main: 'relative hidden iconWish w-[22px] h-[20px] mt-[10px] mb-[4px] --filled'
          },
          path: require('imgs/common/icon_heart_filled.png'),
          alt: 'add to wish list'
        }) %>
        心願單
      </button>
    </li>
    <li class="w-1/5">
      <button class="activeBtn relative jAddCart flex flex-col justify-center items-center w-full h-full text-[12px] text-[#898989]" type="button">
        <%- require('component/img.ejs')({
          style: {
            main: 'relative iconCart w-[22px] h-[20px] mt-[10px] mb-[4px]'
          },
          dataType: '0',
          path: require('imgs/common/icon_cart.png'),
          alt: 'add to cart'
        }) %>
        購物車
      </button>
    </li>
    <li class="flex-grow">
      <button class="activeBtn relative jAddCart flex flex-col justify-center items-center w-full h-full text-[15px] text-white bg-[#d41c1c] tracking-[5px]" type="button">
        加入購物車
      </button>
    </li>
  </ul>
</footer>