<div class="mb-[74px] mt-[60px]">
  <%- require('component/img.ejs')({
    style: {
      main: 'w-[375px] h-[162px]'
    },
    path: require('imgs/home/banner.png'),
    alt: 'FLASH SALE'
  }) %>
  <div class="m-onsale bg-[#d41c1c]">
    <div class="flex justify-between px-[8px] pt-[30px] pb-[16px]">
      <h2 class="text-[20px] text-white">品牌精選優惠</h2>
      <button class="text-[12px] text-white" type="button">顯示全部 ></button>
    </div>
    <div class="w-full overflow-x-scroll pl-[4px] pt-[4px]">
      <%- require('component/img.ejs')({
        style: {
          main: 'w-[420px] h-[137px] pr-[4px]'
        },
        path: require('imgs/home/products.png'),
        alt: 'onsale list'
      }) %>
    </div>
    <%- require('component/img.ejs')({
      style: {
        main: 'w-[375px] h-[116px] px-[4px] py-[4px]'
      },
      path: require('imgs/home/banner2.png'),
      alt: 'banner'
    }) %>
    <div class="flex justify-between px-[8px] pt-[30px] pb-[16px]">
      <div class="flex items-center text-white">
        <h2 class="text-[20px] mr-[8px]">限時特價商品</h2>
        <div class="flex jCountdown">
          <p class="flex items-center justify-center w-[28px] mx-[2px] px-[4px] bg-black rounded-[4px]">03</p> :
          <p class="flex items-center justify-center w-[28px] mx-[2px] px-[4px] bg-black rounded-[4px]">59</p> :
          <p class="flex items-center justify-center w-[28px] mx-[2px] px-[4px] bg-black rounded-[4px]">00</p>
        </div>
      </div>
      <button class="text-[12px] text-white" type="button">顯示全部 ></button>
    </div>
    <div class="flex items-center overflow-x-scroll pl-[4px] py-[4px]">
      <button type="button" class="mx-[2px]">
        <%- require('component/img.ejs')({
          style: {
            main: 'w-[131px] h-[173px]'
          },
          path: require('imgs/home/onsale1.png'),
          alt: 'SK-II'
        }) %>
      </button>
      <a class="activeBtn relative mx-[2px]" href="appleWatch.html">
        <%- require('component/img.ejs')({
          style: {
            main: 'w-[131px] h-[173px]'
          },
          path: require('imgs/home/onsale2.png'),
          alt: 'apple watch'
        }) %>
      </a>
      <button type="button" class="mx-[2px]">
        <%- require('component/img.ejs')({
          style: {
            main: 'w-[131px] h-[173px]'
          },
          path: require('imgs/home/onsale3.png'),
          alt: 'furugura 燕麥片'
        }) %>
      </button>
    </div>
  </div>
  <div class="m-interest">
    <div class="flex justify-between px-[8px] pt-[30px] pb-[16px]">
      <h2 class="text-[20px] text-[#878787]">你可能有興趣</h2>
      <button class="text-[12px] text-[#878787]" type="button">顯示全部 ></button>
    </div>
    <div class="flex items-center overflow-x-scroll bg-[#878787] p-[4px]">
      <button type="button" class="mx-[2px]">
        <%- require('component/img.ejs')({
          style: {
            main: 'w-[132px] h-[65px]'
          },
          path: require('imgs/home/interest1.png'),
          alt: '橡皮擦'
        }) %>
      </button>
      <button type="button" class="mx-[2px]">
        <%- require('component/img.ejs')({
          style: {
            main: 'w-[132px] h-[65px]'
          },
          path: require('imgs/home/interest2.png'),
          alt: '化妝品'
        }) %>
      </button>
      <button type="button" class="mx-[2px]">
        <%- require('component/img.ejs')({
          style: {
            main: 'w-[132px] h-[65px]'
          },
          path: require('imgs/home/interest3.png'),
          alt: '手機殼'
        }) %>
      </button>
    </div>
    <div class="flex justify-between px-[8px] pt-[30px] pb-[16px]">
      <h2 class="text-[20px] text-[#878787]">推坑給你好物</h2>
      <button class="text-[12px] text-[#878787]" type="button">顯示全部 ></button>
    </div>
    <div class="flex items-center overflow-x-scroll bg-[#878787] px-[2px] py-[4px]">
      <button type="button" class="mx-[2px]">
        <%- require('component/img.ejs')({
          style: {
            main: 'w-[72px] h-[65px]'
          },
          path: require('imgs/common/category_all_active.png'),
          alt: '全部'
        }) %>
      </button>
      <a class="activeBtn relative mx-[2px]" href="category.html">
        <%- require('component/img.ejs')({
          style: {
            main: 'w-[72px] h-[65px]'
          },
          path: require('imgs/common/category_3c.png'),
          alt: '3C'
        }) %>
      </a>
      <button type="button" class="mx-[2px]">
        <%- require('component/img.ejs')({
          style: {
            main: 'w-[72px] h-[65px]'
          },
          path: require('imgs/common/category_makeup.png'),
          alt: 'makeup'
        }) %>
      </button>
      <button type="button" class="mx-[2px]">
        <%- require('component/img.ejs')({
          style: {
            main: 'w-[72px] h-[65px]'
          },
          path: require('imgs/common/category_wearing.png'),
          alt: '穿搭'
        }) %>
      </button>
      <button type="button" class="mx-[2px]">
        <%- require('component/img.ejs')({
          style: {
            main: 'w-[72px] h-[65px]'
          },
          path: require('imgs/common/category_food.png'),
          alt: 'food'
        }) %>
      </button>
    </div>
    <div class="flex flex-wrap bg-[#878787] px-[4px] mx-[-2px]">
      <button class="w-1/2 px-[2px] py-[2px]" type="button">
        <%- require('component/img.ejs')({
          style: {
            main: 'w-[182px] h-[263px]'
          },
          path: require('imgs/home/product1.png'),
          alt: 'apple watch'
        }) %>
      </button>
      <button class="w-1/2 px-[2px] py-[2px]" type="button">
        <%- require('component/img.ejs')({
          style: {
            main: 'w-[182px] h-[263px]'
          },
          path: require('imgs/home/product2.png'),
          alt: '除霉凝膠'
        }) %>
      </button>
      <button class="w-1/2 px-[2px] py-[2px]" type="button">
        <%- require('component/img.ejs')({
          style: {
            main: 'w-[182px] h-[263px]'
          },
          path: require('imgs/home/product3.png'),
          alt: '蘇菲清新涼感'
        }) %>
      </button>
      <button class="w-1/2 px-[2px] py-[2px]" type="button">
        <%- require('component/img.ejs')({
          style: {
            main: 'w-[182px] h-[263px]'
          },
          path: require('imgs/home/product4.png'),
          alt: '自動研磨咖啡機'
        }) %>
      </button>
      <a class="activeBtn relative w-1/2 px-[2px] py-[2px]" href="jpMouthwash.html">
        <%- require('component/img.ejs')({
          style: {
            main: 'w-[182px] h-[263px]'
          },
          path: require('imgs/home/product5.png'),
          alt: '漱口水'
        }) %>
      </a>
      <button class="w-1/2 px-[2px] py-[2px]" type="button">
        <%- require('component/img.ejs')({
          style: {
            main: 'w-[182px] h-[263px]'
          },
          path: require('imgs/home/product6.png'),
          alt: '頭戴式降噪耳機'
        }) %>
      </button>
      <button class="w-1/2 px-[2px] py-[2px]" type="button">
        <%- require('component/img.ejs')({
          style: {
            main: 'w-[182px] h-[263px]'
          },
          path: require('imgs/home/product7.png'),
          alt: '全自動感應式噴霧機'
        }) %>
      </button>
      <a class="activeBtn relative w-1/2 px-[2px] py-[2px]" href="milkpowder.html">
        <%- require('component/img.ejs')({
          style: {
            main: 'w-[182px] h-[263px]'
          },
          path: require('imgs/home/product8.png'),
          alt: '克寧奶粉'
        }) %>
      </a>
    </div>
  </div>
</div>